* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;

    color: #222C2A; dark
    color: #F3EED9; light
    color: #824936; brown

*/

section {
  padding: 5rem 0rem;
}

.header {
  background-color: #f3eed9;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  flex-direction: column;
}

.container p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.hero {
  width: 60%;
  flex-direction: column;
}

.info {
  display: flex;
  margin: 2rem auto;
}

.info-text {
  width: 50%;
}

.info-text + .info-text {
  margin-left: 4rem;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  color: #824936;
}

h2 {
  font-size: 2.25rem;
}

.header h1 {
  font-size: 3.5rem;
}

.header p {
  letter-spacing: 10px;
}

img {
  width: 100%;
}

.section-three {
  background-color: #222c2a;
}

.section-three p,
.section-four p {
  color: white;
}
.section-three h2 {
  color: #f3eed9;
  margin-bottom: 2rem;
}
.card {
  width: 50%;
}

.card + .card {
  margin-left: 4rem;
}

.section-four {
  background-color: #824936;
}

.section-four h2 {
  color: #f3eed9;
  margin-bottom: 2rem;
}

.logo {
  width: 3rem;
}

.navbar {
  background-color: #232c2a;
}

nav {
  padding: 2rem 0rem;
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  list-style: none;
  color: white;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item + .nav-item {
  margin-left: 2rem;
}

.bars {
  display: none;
}

nav button {
  padding: 0.5rem;
}

.navlist {
  background-color: #222c2a;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: 2rem auto;
  }
  .card + .card,
  .info-text + .info-text {
    margin-left: 0;
  }
  .four {
    flex-direction: column-reverse;
  }
  .info {
    flex-direction: column;
  }
  .info-text {
    width: 100%;
    margin: 1rem auto;
  }
  .nav-item {
    display: none;
  }
  .bars {
    display: block;
  }
}
